<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	

		<meta charset="UTF-8"></meta>

		<title>Departamento</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		

		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"

				rel="stylesheet" id="bootstrap-css">

		</link>



		<script

			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">

		</script>

		

		<script type="text/javascript" th:src="@{/js/race.js}"></script>		

	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
		<h1>Registro de Departamentos</h1>
		
			<form th:action="@{/departamento/registrar}" method="post" th:object="${departamento}">
				<div class="form-group">
					<label for="iddepartamento">ID:</label>
					<input type="text" class="form-control" th:field="*{idDepartamento}"></input>
					
					<div class="form-group">
						<label for="nombre">NOMBRE:</label>
						<input type="text" class="form-control" th:field="*{nombreDepartamento}" id="nombre"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreDepartamento')}" 
							th:errors="*{nombreDepartamento}">
						</div>
					</div>
					
									
						
				</div>
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/departamento/listar" class="btn btn-primary">Cancelar</a>
			</form>
		</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>