<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>



<meta charset="UTF-8"></meta>

<title>Comentrarios</title>



<script type="text/javascript"
	src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.js">

		</script>



<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<script src="//code.jquery.com/jquery-1.11.1.min.js">

		</script>



</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<div class="container">
		<h1>Comentarios</h1>

		<form id="myform">
			<div class="row clearfix">
				<div class="col-md-12 column">
					<a style="border-bottom-color: green"
						th:href="@{/comentario/irRegistrar}" id="add-row" type="button"
						class="btn btn-primary btn-md left-block"> <span
						class="glyphicon glyphicon-plus"></span>Nuevo Comentario
					</a>
					<ul>
						<li th:each="c:${listaComentarios}" >
						<h4 th:text="${c.Comentario}"></h4>
						</li>
						
						
					</ul>

				</div>
			</div>
			<div th:if="${mensaje}" class="alert alert-danger">
				<p th:text="${mensaje}"></p>
			</div>
		</form>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>