<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	

		<meta charset="UTF-8"></meta>

		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		</link>

		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

		<script type="text/javascript" th:src="@{/js/race.js}"></script>		

	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" action="@{/login}" method="post" role="form" style="display: block;">
								
									<div class="form-group">
										<input type="text" name="userName" id="userName"class="form-control" placeholder="Username" autofocus="true" required="true"></input>
										<div class="alert alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
										</div>		
									</div>	
								
								
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required="true">
									</div>
									
									
									<div class="form-group text-center">
										<input type="checkbox" tabindex="3" class="" name="remember" id="remember">
										<label for="remember"> Remember Me</label>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-lg-12">
												<div class="text-center">
													<a href="@{}" tabindex="5" class="forgot-password">Forgot Password?</a>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" action="@{/login/registrar}" method="post" th:object="${usuario}" role="form" style="display: none;">
										
									<div class="form-group">
										<label for="userName">USUARIO:</label>
										<input type="text" maxlength="9" class="form-control" th:field="*{userName}" id="userName"></input>
										<div class="alert alert-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">
										</div>		
									</div>
									
									
									<div class="form-group">
										<label for="firstName">NOMBRES:</label>
										<input type="text" class="form-control" th:field="*{firstName}" id="nombre"></input>
										<div class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
										</div>
									</div>
								
									<div class="form-group">
										<label for="lastName">APELLIDOS:</label>
										<input type="text" class="form-control" th:field="*{lastName}" id="lastName"></input>
										<div class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
										</div>
									</div>
								
									
									
										
								
									<div class="form-group">
										<input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" required="true">
									</div>
									
									<div class="form-group">
										<input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confirm Password" required="true">
									</div>
									
									
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
												<a href="/turista/listar">Cancel</a>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>