<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
		<meta charset="UTF-8"></meta>
		<title>Registro del Viajes</title>	

		<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>	

		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"
				rel="stylesheet" id="bootstrap-css">

		</link>


		<script
			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">
		</script>

		
		<script type="text/javascript" th:src="@{/js/race.js}"></script>	

	</head>


	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form th:action="@{/reservaviaje/registrar}" method="post" th:object="${reservaviaje}">
				<div class="form-group">
					<label for="idreserva">ID:</label>
					<input type="text" class="form-control" th:field="*{idReservaViaje}"></input>
					
					<div class="form-group">	
						
						<label for="transporte" class="col-sm-0 col-form-label">TRANSPORTE:</label>
						<select class= "form-control" th:field= "*{transporte.idTransporte}">
							<option th:each="t: ${listaTransportes}" 
								th:value= "${t.idTransporte}" 
								th:text="${t.tipoTransporte}" 
								th:selected="(${t.idTransporte}== *{transporte.idTransporte})">
							</option>
						</select>	
					</div>
					
					<div class="form-group">	
						
						<label for="auto" class="col-sm-0 col-form-label">AUTO:</label>
						<select class= "form-control" th:field= "*{auto.idAlquilerAuto}">
							<option th:each="al: ${listaAlquilerAutos}" 
								th:value= "${al.idAlquilerAuto}" 
								th:text="${al.modeloAlquilerAuto}" 
								th:selected="(${al.idAlquilerAuto}== *{auto.idAlquilerAuto})">
							</option>
						</select>	
					</div>
					<div class="form-group">	
						
						<label for="departamento" class="col-sm-0 col-form-label">DEPARTAMENTO:</label>
						<select class= "form-control" th:field= "*{alojamiento.provincia.departamento.idDepartamento}">
							<option th:each="d: ${listaAlojamientos}" 
								th:value= "${d.provincia.departamento.idDepartamento}" 
								th:text="${d.provincia.departamento.nombreDepartamento}" 
								th:selected="(${d.provincia.departamento.idDepartamento}== *{alojamiento.provincia.departamento.idDepartamento})">
							</option>
						</select>	
					</div>
					<div class="form-group">	
						
						<label for="provincia" class="col-sm-0 col-form-label">PROVINCIA:</label>
						<select class= "form-control" th:field= "*{alojamiento.provincia.idProvincia}">
							<option th:each="p: ${listaAlojamientos}" 
								th:value= "${p.provincia.idProvincia}" 
								th:text="${p.provincia.nombreProvincia}" 
								th:selected="(${p.provincia.idProvincia}== *{alojamiento.provincia.idProvincia})">
							</option>
						</select>	
					</div>
					<div class="form-group">	
						
						<label for="hotel" class="col-sm-0 col-form-label">HOTEL:</label>
						<select class= "form-control" th:field= "*{alojamiento.hotel.idHotel}">
							<option th:each="h: ${listaAlojamientos}" 
								th:value= "${h.hotel.idHotel}" 
								th:text="${h.hotel.nombreHotel}" 
								th:selected="(${h.hotel.idHotel}== *{alojamiento.hotel.idHotel})">
							</option>
						</select>	
					</div>
					<div class="form-group">	
						
						<label for="restaurante" class="col-sm-0 col-form-label">RESTAURANTE:</label>
						<select class= "form-control" th:field= "*{alojamiento.restaurante.idRestaurante}">
							<option th:each="r: ${listaAlojamientos}" 
								th:value= "${r.restaurante.idRestaurante}" 
								th:text="${r.restaurante.nombreRestaurante}" 
								th:selected="(${r.restaurante.idRestaurante}== *{alojamiento.restaurante.idRestaurante})">
							</option>
						</select>	
					</div>
					<div class="form-group">	
						<label for="fechaInicio">FECHA INICIO:</label>
						<input type="date" class="form-control" th:field="*{fechaInicio}" id="fechaInicio"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaInicio')}" 
							th:errors="*{fechaInicio}">
						</div>
					</div>
					<div class="form-group">	
						<label for="fechaFin">FECHA FIN:</label>
						<input type="date" class="form-control" th:field="*{fechaFin}" id="fechaFin"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('fechaFin')}" 
							th:errors="*{fechaFin}">
						</div>
					</div>
					
				</div>
				
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/reservaviaje/listar" class="btn btn-primary">Cancelar</a>
				
			</form>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</body>
</html>