<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	

		<meta charset="UTF-8"></meta>

		<title>Restaurante</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		

		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"

				rel="stylesheet" id="bootstrap-css">

		</link>



		<script

			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">

		</script>

		

		<script type="text/javascript" th:src="@{/js/race.js}"></script>		

	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form th:action="@{/restaurante/registrar}" method="post" th:object="${restaurante}">
				<div class="form-group">
					<label for="idrestaurante">ID:</label>
					<input type="text" class="form-control" th:field="*{idRestaurante}"></input>
					
					<div class="form-group">
						<label for="nombre">NOMBRE:</label>
						<input type="text" class="form-control" th:field="*{nombreRestaurante}" id="nombre"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('nombreRestaurante')}" 
							th:errors="*{nombreRestaurante}">
						</div>
					</div>
					<div class="form-group">
						<label for="direccion">DIRECCION:</label>
						<input type="text" class="form-control" th:field="*{direccion}" id="direccion"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('direccion')}" 
							th:errors="*{direccion}">
						</div>
					</div>
					<div class="form-group">
						<label for="telefono">TELEFONO:</label>
						<input type="text" maxlength="9" class="form-control" th:field="*{telefono}" id="telefono"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('telefono')}" 
							th:errors="*{telefono}">
						</div>
					</div>						
						
				</div>
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/restaurante/listar" class="btn btn-primary">Cancelar</a>
			</form>
		</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>