<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	

		<meta charset="UTF-8"></meta>

		<title>Transporte</title>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

		

		<link 	href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"

				rel="stylesheet" id="bootstrap-css">

		</link>



		<script

			src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js">

		</script>

		

		<script type="text/javascript" th:src="@{/js/race.js}"></script>		

	</head>
	<body>
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
		<h1>Registro de Transportes</h1>
		<h2><small>Aqui podra registrar los datos de un transporte</small></h2> 
			<form th:action="@{/transporte/registrar}" method="post" th:object="${transporte}">
				<div class="form-group">
					<label for="idtransporte">ID:</label>
					<input type="text" class="form-control" th:field="*{idTransporte}"></input>
					
					<div class="form-group">
						<label for="nombre">NOMBRE DE LA EMPRESA:</label>
						<input type="text" class="form-control" th:field="*{Empresa}" id="nombre"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('Empresa')}" 
							th:errors="*{Empresa}">
						</div>
					</div>
					<div class="form-group">
						<label for="precio">PRECIO:</label>
						<input type="text" class="form-control" th:field="*{precioTransporte}" id="precio"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('precioTransporte')}" 
							th:errors="*{precioTransporte}">
						</div>
					</div>	
					<div class="form-group">
						<label for="tipo">TIPO DE TRANSPORTE:</label>
						<input type="text" class="form-control" th:field="*{tipoTransporte}" id="tipo"></input>
						<div class="alert alert-danger" th:if="${#fields.hasErrors('tipoTransporte')}" 
							th:errors="*{tipoTransporte}">
						</div>
					</div>					
						
				</div>
				<button type="submit" class="btn btn-primary">Aceptar</button>
				<a href="/transporte/listar" class="btn btn-primary">Cancelar</a>
				<p th:text="${mensaje}" class="form-text text-danger"></p>
			</form>
		</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>